
@keyframes ants { to { background-position: 100% 100% } }

asm-img[visible] {
    display: block;
}

[contenteditable]:focus {
    outline: 0px solid transparent;
}


.asm-error-list {

    display: none;

    position: absolute;
    z-index: 10000;
    left: 10px;
    right: 10px;
    top: 10px;
}

.asm-error-list.has-item {
    display: block;
}

.asm-list-item {
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;

}

.asm-list-item.error {
    color: red;
    border: solid 1px red;

    background-color: #ffcdc4;
}

.asm-list-item.warning {
    color: #ff8f00;
    border: solid 1px #ff8f00;

    background-color: #ffe7bb;
}

.asm-list-item.info {
    color: #5948ff;
    border: solid 1px #5948ff;
    background-color: #cad8ff;
}

.asm-element-has-error {
    border: solid 5px red;
}

[asm-editable] {
    visibility: hidden;
}

[asm-editable].rendered {
    visibility: visible;
}

.asm-img-highlighter{
border: 2px dashed #64D0FF;
}

.asm-text-highlighter{
    border: 2px dashed white;
    position: relative;
    max-height: 250px;
    display: inline-block;
    text-overflow: ellipsis;
    background: rgba(76, 175, 80, 0.2);
}

.asm-text-editable{
    border: 2px dashed #4286f4 !important;
}


.asm-txt-highlighter {
    padding:1px;
    border: 1px solid transparent;
    background: linear-gradient(white, white) padding-box,
                repeating-linear-gradient(-45deg, black 0, black 25%, transparent 0, transparent 50%) 0 / .6em .6em;
    animation: ants 12s linear infinite;
    display: inline-block;
    position: relative;
    border: 2px dotted #4286f4;
}


.img-icon{
  width: 28px;
  height: 28px;
  display: inline-block;
  background-image: url("img_icon.png");
}

.hide-controls{
    display: none;
}

.show-controls{
    display: visible;
}

.img-edit-btn{
    width: 28px;
    height: 28px;
    cursor: pointer;
    display: inline-block;
    background-image: url("pencil_icon.png");
  }

  .img-resize-btn{
    width: 28px;
    height: 28px;
    cursor: pointer;
    display: inline-block;
    background-image: url("resize_icon.png");
  }


  .text-icon{
    width: 28px;
    height: 28px;
    display: inline-block;
    background-image: url("text_icon.png");
  }

  .bold-text-btn{
    width: 28px;
    height: 28px;
    cursor: pointer;
    display: inline-block;
    background-image: url("bold_text_btn.png");
  }

  .italic-text-btn{
    width: 28px;
    height: 28px;
    cursor: pointer;
    display: inline-block;
    background-image: url("italic_text_btn.png");
  }

  .centera-text-btn{
    width: 28px;
    height: 28px;
    cursor: pointer;
    display: inline-block;
    background-image: url("centera_text_btn.png");
  }

  .lefta-text-btn{
    width: 28px;
    height: 28px;
    cursor: pointer;
    display: inline-block;
    background-image: url("lefta_text_btn.png");
  }

  .righta-text-btn{
    width: 28px;
    height: 28px;
    cursor: pointer;
    display: inline-block;
    background-image: url("righta_text_btn.png");
  }


.resizer{
    left: 56px;
    top: 42px;
    background: black;
    position: absolute;
  }



  #toolbar{
    top: -25px;
    position: absolute;
    cursor: pointer;
    background-color: black;
    width: 196px;
    height: 28px;
  }



.asm-img-highlighter:hover .asm-controls {
    top:0%;
}

